Repository PCMDI/pcmdi_metrics, pull requests merged in 2023-11, with the labels that each got.

#996 Parallel coordinate plot advance
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_lib.py
Labels: enhancement, New feature

#999 Portrait plot annotate text color
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_example.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_lib.py
Labels: feature request, New feature, graphic

#1000 Patch for Parallel plot
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_lib.py
Labels: graphic

#1001 graphics code minor patch
  pcmdi_metrics/graphics/share/read_json_mean_clim.py
Labels: graphic

#966 Add precip variability and distribution to docs
  docs/metrics.rst
  docs/metrics_precip-distribution.rst
  docs/metrics_precip-variability.rst
Labels: doc

#974 Update target grid help in parser
  docs/metrics_mean-clim.rst
  pcmdi_metrics/mean_climate/lib/create_mean_climate_parser.py
Labels: New feature, doc
