Repository PCMDI/pcmdi_metrics, pull requests merged in 2024-01, with the labels that each got.

#1013 Demo8 extremes update
  doc/jupyter/Demo/Demo_8_extremes.ipynb
Labels: demo

#962 Extremes Metrics
  cmec/extremes/pmp_extremes_driver.sh
  cmec/scripts/pmp_param_generator.py
  conda-env/dev.yml
  contents.json
  doc/jupyter/Demo/Demo_0_download_data.ipynb
  doc/jupyter/Demo/Demo_8_extremes.ipynb
  doc/jupyter/Demo/basic_extremes_param.py.in
  pcmdi_metrics/extremes/README.md
  pcmdi_metrics/extremes/__init__.py
  pcmdi_metrics/extremes/extremes_driver.py
  pcmdi_metrics/extremes/lib/__init__.py
  pcmdi_metrics/extremes/lib/compute_metrics.py
  pcmdi_metrics/extremes/lib/create_extremes_parser.py
  pcmdi_metrics/extremes/lib/metadata.py
  pcmdi_metrics/extremes/lib/plot_extremes.py
  pcmdi_metrics/extremes/lib/region_utilities.py
  pcmdi_metrics/extremes/lib/return_value.py
  pcmdi_metrics/extremes/lib/utilities.py
  pcmdi_metrics/extremes/param/daily_model_data.py
  pcmdi_metrics/graphics/portrait_plot/return_value_portrait_plot_demo.ipynb
  setup.py
  tests/test_extremes.py
Labels: TOPPRIORITY, New feature, demo

#990 Extremes documentation for web
  docs/metrics.rst
  docs/metrics_ext.rst
Labels: doc

#1017 Clean up that were left from testing
  pcmdi_metrics/variability_mode/variability_modes_driver.py
Labels: bug

#1028 formatting tweaks; augmented model info; augmented debugging e.g.
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
Labels: doc, demo

#1029 BinderHub updates
  .binder/postBuild
  apt.txt
Labels: demo

#1030 Tweak for sea-ice metric demo
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
  doc/jupyter/Demo/sea_ice_line_plots.py
  doc/jupyter/Demo/sea_ice_sector_plots.py
Labels: demo

#1035 Docs update
  docs/metrics.rst
  docs/metrics_enso.rst
  docs/metrics_mean-clim.rst
  docs/metrics_monsoon.rst
  docs/metrics_precip-distribution.rst
  docs/metrics_precip-variability.rst
  docs/metrics_subdaily-precipitation.rst
Labels: doc

#1034 adding ESGF2-US logos; suggested text tweaks
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo

#1038 logo size fix in demo notebook
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo
