Repository PCMDI/pcmdi_metrics, pull requests merged in 2024-11, with the labels that each got.

#1173 Enable direct display of demo notebooks from PMP web doc
  doc/jupyter/Demo/Demo_0_download_data.ipynb
  doc/jupyter/Demo/Demo_1a_compute_climatologies.ipynb
  doc/jupyter/Demo/Demo_1b_mean_climate.ipynb
  doc/jupyter/Demo/Demo_2a_monsoon_wang.ipynb
  doc/jupyter/Demo/Demo_2b_monsoon_sperber.ipynb
  doc/jupyter/Demo/Demo_3_diurnal_cycle.ipynb
  doc/jupyter/Demo/Demo_4_modes_of_variability.ipynb
  doc/jupyter/Demo/Demo_5_mjo_metrics.ipynb
  doc/jupyter/Demo/Demo_6_ENSO.ipynb
  doc/jupyter/Demo/Demo_7_precip_variability.ipynb
  doc/jupyter/Demo/Demo_8_extremes.ipynb
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
  docs/examples/Demo_0_download_data.ipynb
  docs/examples/Demo_1a_compute_climatologies.ipynb
  docs/examples/Demo_1b_mean_climate.ipynb
  docs/examples/Demo_2a_monsoon_wang.ipynb
  docs/examples/Demo_2b_monsoon_sperber.ipynb
  docs/examples/Demo_3_diurnal_cycle.ipynb
  docs/examples/Demo_4_modes_of_variability.ipynb
  docs/examples/Demo_5_mjo_metrics.ipynb
  docs/examples/Demo_6_ENSO.ipynb
  docs/examples/Demo_7_precip_variability.ipynb
  docs/examples/Demo_8_extremes.ipynb
  docs/examples/Demo_9_seaIceExtent_ivanova.ipynb
  docs/examples/Demo_9b_seaIce_data_explore.ipynb
  docs/index.rst
  docs/metrics-demo.rst
  docs/metrics.rst
  pcmdi_metrics/mean_climate/lib/calculate_climatology.py
  pcmdi_metrics/mean_climate/lib/plot_clim_maps.py
  pcmdi_metrics/utils/__init__.py
Labels: doc

#1175 add configuration for linguist
  .gitattributes
Labels: doc, minor, clean up

#1176 Update .gitattributes
  .gitattributes
Labels: doc

#1170 API reference update
  conda-env/dev.yml
  docs/_static/images/parallel_coordiate_plot_docstring_example.png
  docs/_static/images/portrait_plot_1.png
  docs/_static/images/portrait_plot_2_triangles.png
  docs/_static/images/portrait_plot_4_triangles.png
  docs/_static/images/taylor_diagram_docstring_example.png
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/overview.rst
  docs/resources.rst
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_lib.py
  pcmdi_metrics/graphics/portrait_plot/mean_clim_portrait_plot_4seasons_cmip56.png
  pcmdi_metrics/graphics/portrait_plot/mean_clim_portrait_plot_4seasons_example.png
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_example.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_lib.py
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_mean_clim.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_mean_clim_multiple_CMIPs.ipynb
  pcmdi_metrics/graphics/taylor_diagram/taylor_diagram.py
  pcmdi_metrics/io/__init__.py
  pcmdi_metrics/io/region_from_file.py
  pcmdi_metrics/io/regions.py
  pcmdi_metrics/io/xcdat_dataset_io.py
  pcmdi_metrics/io/xcdat_openxml.py
  pcmdi_metrics/utils/adjust_units.py
  pcmdi_metrics/utils/custom_season.py
  pcmdi_metrics/utils/dates.py
  pcmdi_metrics/utils/grid.py
  pcmdi_metrics/utils/land_sea_mask.py
  pcmdi_metrics/utils/qc.py
  pcmdi_metrics/utils/sort_human.py
Labels: doc, graphic

#1171 Fix bug in Demo 8
  doc/jupyter/Demo/Demo_8_extremes.ipynb
Labels: bug, doc

#1184 improve notebook appearance in html
  docs/api.rst
  docs/demo-notebooks.rst
  docs/examples/parallel_coordinate_plot_example.ipynb
  docs/examples/parallel_coordinate_plot_mean_clim.ipynb
  docs/examples/parallel_coordinate_plot_mean_clim_multiMIPs.ipynb
  docs/examples/portrait_plot_example.ipynb
  docs/examples/portrait_plot_mean_clim.ipynb
  docs/examples/portrait_plot_mean_clim_multiple_CMIPs.ipynb
  docs/examples/taylor_diagram_example.ipynb
  docs/examples/taylor_diagram_multiple_CMIPs.ipynb
  docs/index.rst
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_example.ipynb
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_mean_clim.ipynb
  pcmdi_metrics/graphics/parallel_coordinate_plot/parallel_coordinate_plot_mean_clim_multiMIPs.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_example.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_mean_clim.ipynb
  pcmdi_metrics/graphics/portrait_plot/portrait_plot_mean_clim_multiple_CMIPs.ipynb
  pcmdi_metrics/graphics/taylor_diagram/taylor_diagram_example.ipynb
  pcmdi_metrics/graphics/taylor_diagram/taylor_diagram_multiple_CMIPs.ipynb
Labels: enhancement, doc

#1185 update title, add video caption
  docs/api.rst
  docs/contributing.rst
  docs/demo-notebooks.rst
  docs/index.rst
  docs/install.rst
  docs/metrics.rst
  docs/metrics_enso.rst
  docs/metrics_ext.rst
  docs/metrics_mean-clim.rst
  docs/metrics_mjo.rst
  docs/metrics_monsoon.rst
  docs/metrics_mov.rst
  docs/metrics_precip-distribution.rst
  docs/metrics_precip-variability.rst
  docs/metrics_sea_ice.rst
  docs/metrics_subdaily-precipitation.rst
  docs/overview.rst
  docs/pmp-using-cdp-guide.rst
  docs/pmpparser.rst
  docs/resources.rst
  docs/resources_legacy.rst
  docs/start.rst
  docs/supporting-data.rst
  docs/team.rst
Labels: doc

#1186 Update README.md to automatically refresh badges
  README.md
Labels: doc

#1187 Update README.md
  README.md
Labels: doc

#1188 doc clean up and addition
  docs/demo-notebooks.rst
  docs/examples/mean_clim_plots_test_model.ipynb
  docs/examples/variability_modes_plots_all-stats.ipynb
  pcmdi_metrics/graphics/demo/mean_clim_plots_test_model.ipynb
  pcmdi_metrics/graphics/demo/variability_modes_plots_all-stats.ipynb
  pcmdi_metrics/graphics/share/Metrics.py
  pcmdi_metrics/graphics/share/read_json_mean_clim.py
Labels: doc, minor

#1190 Clean up doc
  .github/workflows/build_workflow.yml
  doc/jupyter/Demo/Demo_0_download_data.ipynb
  doc/jupyter/Demo/Demo_5_mjo_metrics.ipynb
  doc/jupyter/Demo/Demo_7_precip_variability.ipynb
  doc/jupyter/Demo/Demo_8_extremes.ipynb
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  docs/demo-notebooks.rst
  docs/index.rst
  docs/metrics_enso.rst
  docs/metrics_ext.rst
  docs/metrics_mean-clim.rst
  docs/metrics_mjo.rst
  docs/metrics_monsoon.rst
  docs/metrics_mov.rst
  docs/metrics_precip-variability.rst
  docs/metrics_sea_ice.rst
  docs/metrics_subdaily-precipitation.rst
Labels: doc, minor, clean up

#1192 Version handling
  pcmdi_metrics/__init__.py
  pcmdi_metrics/io/base.py
  pcmdi_metrics/variability_mode/lib/version.py
Labels: bug

#1196 clean up notebook
  pcmdi_metrics/graphics/demo/variability_modes_plots_all-stats.ipynb
Labels: doc, minor, clean up

#1200 Monsoon Wang xcdat migration
  doc/jupyter/Demo/Demo_2a_monsoon_wang.ipynb
  pcmdi_metrics/monsoon_wang/__init__.py
  pcmdi_metrics/monsoon_wang/lib/__init__.py
  pcmdi_metrics/monsoon_wang/lib/argparse_functions.py
  pcmdi_metrics/monsoon_wang/lib/monsoon_precip_index_fncs.py
  pcmdi_metrics/monsoon_wang/monsoon_precip_index_fncs.py
  pcmdi_metrics/monsoon_wang/monsoon_wang_driver.py
  pcmdi_metrics/monsoon_wang/params/basic_monsoon_wang_param.py
  pcmdi_metrics/monsoon_wang/scripts/mpindex_compute.py
  setup.py
Labels: enhancement

#1164 Numpy version update
  .github/workflows/build_workflow.yml
  conda-env/ci.yml
  conda-env/dev.yml
  pcmdi_metrics/mjo/lib/lib_mjo.py
  pcmdi_metrics/mjo/lib/mjo_metric_calc.py
  pcmdi_metrics/precip_variability/lib/lib_variability_across_timescales.py
Labels: build, CRITICAL, QC
