Repository PCMDI/pcmdi_metrics, pull requests merged in 2024-02, with the labels that each got.

#1032 Fixes for BinderHub
  .binder/apt.txt
  .binder/environment.yml
  .binder/postBuild
  apt.txt
  environment.yml
Labels: build, demo

#1043 Sea ice reference data added to demo 0 downloading
  doc/jupyter/Demo/Demo_0_download_data.ipynb
  doc/jupyter/Demo/Demo_9_seaIceExtent_ivanova.ipynb
  doc/jupyter/Demo/data_files.txt
Labels: demo

#1045 demo 9b update
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo

#1047 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: doc

#1050 Update team.rst
  docs/team.rst
Labels: doc

#1051 demo download instruction update
  docs/supporting-data.rst
Labels: doc, demo

#1053 Simplify demo 9b
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo

#1054 Demo 9b sea-ice data explore notebook update
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo

#1057 to mute the warning message
  doc/jupyter/Demo/Demo_9b_seaIce_data_explore.ipynb
Labels: demo
